body, head {
    background-image: linear-gradient(90deg, #000000, #2C272E);
}

div.cap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-image: url("images/logo.png");
    background-size: contain;
    background-position: 15px 0px;
    background-repeat: no-repeat;
}

h1.heading {
    font-family: "Stencil Std", fantasy;
    letter-spacing: 10px;
    font-style: italic;
    color: #fffffff0;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding-top: 30px;
    margin-top: 0px;
}

div.container {
    width: 400px;
    border-image: linear-gradient(90deg, #000000, #2C272E);
    border-radius: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 2px 2px 30px #a5a5db;
}

h1.form-name {
    text-align: center;
    font-size: 30px;
    margin-top: 1px;
    color: #fffffff0;
}

label.input-prompts {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fffffff0;
    font-weight: 700;
    font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid transparent;
    border: none;
}

input[type="file"] {
    background: linear-gradient(to right, blue, pink);
    color: #f1f1f1;
    content: "";
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    display: inline-block;
    font-family: "Century Gothic";
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1)
}

div.homepageimg {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("images/homepage.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 100px;
    border-color: #000000;
    height: 100px;
    width: 100px;
    background-image: url("images/empty_profile_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

 div.common-frame {
    margin-top: 10px;
 }


div.menu-frame {
    float: left;
    position: relative;
    left: 41%;
    box-shadow: 2px 2px 40px #a5a5db;
    padding: 10px;
    width: 200px;
    margin-top: 150px;
}

div.profile-frame {
    margin-right: 10px;
    margin-left: auto;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    box-shadow: 2px 2px 30px #a5a5db;
}

div.person-view {
    margin-top: 50px;
    width: 250px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-left: 150px;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 2px 2px 30px #a5a5db;
}

div.user {
    border: 3px outset black;
    border-radius: 40px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    max-width: 1000px;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.block {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: 550px;
    margin-right: auto;
}

label.user-field {
    font-family: "Century Gothic";
    border: 3px outset black;
    padding: 5px 5px;
    margin-bottom: 5px;
    max-width: 1000px;
    color: #dadaeb;
    font-size: 20px;
    font-weight: 900px;
}

label.error {
    color: #a5a5db;
    font-size: 20px;
    font-weight: 900px;
}

img.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.data-style {
    font-family: "Arial Black";
    font-size: 15px;
}

div.teaser-frame {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px outset black;
    border-radius: 20px;
    width: 400px;
    padding: 20px 10px;
}

h3.tags {
    color: #fffffff0;
    text-align: left;
    font-weight: 900;
    margin-top: 0px;
}


table {
   border-collapse: collapse;
   border: 10px double grey !important;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   align: center
}

th {
   border: 10px double grey !important;
}

td {
   border: 10px double grey !important;
}

.form_button {
  margin-left: 550px;
}

h1.except {
    font-family: "Stencil Std", fantasy;
    font-style: italic;
    color: #fffffff0;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-top: 0px;
}