{% extends 'base.html' %}

{% block pagecontent %}
<div class="container">
    <h1 class="form-name"><tt>Добавление папки</tt></h1>
    <form action="" align="center" method="post" enctype="multipart/form-data"  class="dropzone">
        {% csrf_token %}
        {% if form_error.error_is_raised %}
        <p><label class="error"><b>{{ form_error.error_message }}</b></label></p>
        {% endif %}
        {% if form_message.message_is_raised %}
        <p><label class="error"><b>{{ form_message.message }}</b></label></p>
        {% endif %}
        {% for item in form %}
        <p>
            <label class="input-prompts">{{ item.label }}</label>
            <h3 class="tags">{{ item }}</h3>
        </p>
        {% endfor %}
        <input type="file" id="file_input" name="file_field" webkitdirectory directory/>
        <input type="text" id="directories" name="directories" hidden />
        <button type="button" onclick="window.location.href='{% url back_page %}'">
            <tt>Назад</tt>
        </button>
        <button type="submit"><tt>Добавить папку</tt></button>
    </form>
    <script>
        files = document.querySelector("#file_input").files;
        document.querySelector("#file_input").addEventListener("change", function() {
            files = document.querySelector("#file_input").files;
            var directories = {}
            for (var file of files) {
                file.webkitRelativePath
                directories[file.name] = file.webkitRelativePath
            }
            directories = JSON.stringify(directories);
            document.querySelector("#directories").value = directories
        });
    </script>
</div>


{% endblock %}