{% extends 'base.html' %}

{% block pagecontent %}
<h1 class="except">
<table>
    <tr>
        <th>Имя файла</th>
        <th>Тэги</th>
        <th>Установить</th>
    </tr>
    {%for file in files %}
        <tr>
            <th>{{file.file_name}}</th>
            <th>
                {%for tag in file.tags.all%}
                    {{tag.tag_name}}<br>
                {% endfor %}
            </th>
            <th><a href="{{file.file_path}}" download="{{file.file_path}}">Download</a></th>
        </tr>
    {% endfor %}
</table>
</h1>
<button class="form_button" type="button" onclick="window.location.href='{% url back_page %}'">
            <tt>Назад</tt>
</button>
{% endblock %}