{% extends 'base.html' %}

{% block pagecontent %}
<div class="container">
    <h1 class="form-name"><tt>Вход в аккаунт</tt></h1>
    <form action="" method="post" align="center">
        {% csrf_token %}
        {% if form_error.error_is_raised %}
        <label class="error">
            <b>{{ form_error.error_message }}</b>
        </label>
        {% endif %}
        {% for item in form %}
        <label class="input-prompts">{{ item.label }}</label>
        {{ item }}
        {% endfor %}
        <div style="display: inline-block; margin: 10px 5px;">
            <button type="submit">
                <span class="data-style">Войти</span>
            </button>
        </div>
        <div style="display: inline-block; margin: 10px 5px;">
            <button type="button" onclick="window.location.href='{% url back_page %}'">
                <span class="data-style">Назад</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}