{% extends 'base.html' %}

{% block pagecontent %}
<div style="position: absolute;">
    <div class="person-view" align="center">
        <div class="avatar">
            {% if avatar %}
            <img 
                src="../../media/profile/{{avatar}}"
                alt="photo"
                class="profile-photo"
            />
            {% endif %}
        </div>
        <div align="center" style="border: none; width: 200px; margin-top: 20px;">
            <button type="button" onclick="window.location.href='{% url edit_page photo_edit %}'">Сменить фото профиля</button>
        </div>
    </div>
    <div style="margin-top: 30px; margin-left: 200px;">
        <button style="font-size: 30px;" onclick="window.location.href='{% url back_page %}'">Назад</button><br> 
    </div>
</div>
<div class="block">
    <div class="user">
        <label class="user-field">Имя пользователя: </label>
        <label class="user-field">"{{ username }}"</label><br>
        <button style="font-size: 20px; margin-top: 10px;" onclick="window.location.href='{% url edit_page username_edit %}'">Изменить имя пользователя</button>
    </div>
    <div class="user">
        <label class="user-field">Адрес электронной почты: </label>
        <label class="user-field">{{ email }}</label><br>
        <button style="font-size: 20px; margin-top: 10px;" onclick="window.location.href='{% url edit_page email_edit %}'">Изменить адрес электронной почты</button>
    </div>
    <div class="user">
        <label class="user-field">Пароль: </label>
        <label class="user-field">{{ password }}</label><br>
        <button style="font-size: 20px; margin-top: 10px;" onclick="window.location.href='{% url edit_page password_edit %}'">Изменить пароль</button>
    </div>
</div>
{% endblock %}
