{% extends 'base.html' %}

{% block pagecontent %}
<aside>
    <div style="position: absolute;">
        <div class="person-view" align="center">
            <div class="avatar">
                {% if avatar %}
                <img src="../../media/profile/{{avatar}}" alt="photo" class="profile-photo"/>
                {% endif %}
            </div>
            <div align="center" style="border: none; width: 200px; margin-top: 20px;">
                <button type="button" onclick="window.location.href='{% url edit_page photo_edit %}'">
                    <span class="data-style">Сменить фото профиля</span>
                </button>
            </div>
        </div>
        <div style="margin-top: 30px; margin-left: 220px;">
            <button style="font-size: 20px;" onclick="window.location.href='{% url back_page %}'">
                <span class="data-style">Назад</span>
            </button>
            <br>
        </div>
    </div>
</aside>
<main>
    <div class="block">
        <div class="user">
            <label class="user-field" style="border:none">Имя пользователя: </label>
            <label class="user-field">
                <span class="data-style">{{ username }}</span>
            </label><br>
            <button style="font-size: 15px; margin-top: 25px;"
                    onclick="window.location.href='{% url edit_page username_edit %}'">
                <span class="data-style">Изменить имя пользователя</span>
            </button>
        </div>
        <div class="user">
            <label class="user-field" style="border:none">Email: </label>
            <label class="user-field">
                <span class="data-style">{{ email }}</span>
            </label><br>
            <button style="font-size: 15px; margin-top: 25px;"
                    onclick="window.location.href='{% url edit_page email_edit %}'">
                <span class="data-style">Изменить адрес электронной почты</span>
            </button>
        </div>
        <div class="user">
            <label class="user-field" style="border:none">Пароль: </label>
            <label class="user-field">
                <span class="data-style">{{ password }}</span>
            </label><br>
            <button style="font-size: 15px; margin-top: 25px;"
                    onclick="window.location.href='{% url edit_page password_edit %}'">
                <span class="data-style">Изменить пароль</span>
            </button>
        </div>
    </div>
</main>
{% endblock %}