{% extends 'base.html' %}

{% block pagecontent %}
<main>
    <div class="homepageimg" align="center"></div>
    <div class="teaser-frame">
        <div style="display: inline-block; margin-right: 10px;">
            <button type="button" style="font-size: 20px;" onclick="window.location.href='{% url enter_page %}'">
                <span class="data-style">Войти</span>
            </button>
        </div>
        <div style="display: inline-block; margin-left: 10px;">
            <button type="button" style="font-size: 20px;" onclick="window.location.href='{% url register_page %}'">
                <span class="data-style">Зарегистрироваться</span>
            </button>
        </div>
    </div>
</main>
{% endblock %}