{% extends 'base.html' %}

{% block pagecontent %}
<div class="homepageimg" align="center"></div>
<div align="center">
    <button type="button" onclick="window.location.href='{% url enter_page %}'">
        <tt>Войти</tt>
    </button>
    <button type="button" onclick="window.location.href='admin/'">
        <tt>Войти как администратор</tt>
    </button>
    <button type="button" onclick="window.location.href='{% url register_page %}'">
        <tt>Зарегистрироваться</tt>
    </button>
</div>
{% endblock %}